/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=cyrillic,latin-ext');

body{
	font-family: 'Open Sans', sans-serif;
	background: #191d28;
	color: #c0c3d6;
}

body a{
	text-decoration: none;
}


header{
	display: flex;
	justify-content: space-between;
	padding: 0 120px;
}

.container{
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}


.logo{
	line-height: 140px; /*This may worked when flex dont support*/
	display: flex;
	align-items: center;
	padding: 23px;
}

.menu,.lang{
	font-weight: 600;
	text-transform: uppercase;
	font-size: 12px;
	height: 140px;
	line-height: 140px;
}


.menu li, .lang li{
	display: inline-block;
}


.menu a, .lang a{
	color: #c0c3d6;
	padding: 0 23px;
}

.menu a:hover, .lang a:hover, .social a:hover{
	color: #ffcc73;
}

.btn{
	background: #ffcc73;
	color: #1f222b;
	font-size: 800;
	text-transform: uppercase;
	line-height: 44px;
	text-align: center;
	margin-top: 92px;
	padding: 10px 40px;
}

.btn a:hover{
	color: #000;
}

.social li{
	display: inline;
}

.social a{
	color: #c1c3d8;
	padding-right: 30px;
}

.main-image{
	width: 100%;
	height: 100%;
	background-image: url(img-assets/main-image.png),no-repeat;
}

h1{
	padding-top: 210px;
	color: #fefefe;
	font-size: 60px;
	font-weight: 700;
}

h1 span{
	color: #ffcc73;	
}

h2{
	font-size: 28px;
	color: #ffcc73;
	font-weight: 700;
	text-align: center;
	padding-top: 150px;
}

h3{
	color: #c1c4d7;
	font-weight: 800;
	font-size: 24px;
}

.main-desc, .desc{
	padding: 40px 0 80px;
	line-height: 1.7;
}

.news{
	display: flex;
	justify-content: space-between;
}

.news-date{
	transform: rotate(-90deg);
	color: #000;
	width: 138px;
	height: 46px;
	background: #ffcc73;
	line-height: 45px;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	position: relative;
	display: inline-block;
	top: -190px;
	left: -161px;
}

.news-id{
	max-width: 370px;
	height: 490px;
	background: #1b212f;
}

.news-counters{
	padding: 28px 40px;
	font-size: 12px;
	text-align: right;
	font-weight: 500;
}

.news-counters li{
	padding: 0 8px;
	display: inline;
}

.news-counters a{
	color: #727993;
}

.news-counters a:hover{
	color: #ffcc73;
}

.news-title{
	padding: 10px 30px;
}


.btn-read-more{
	padding: 0 30px;
	color: #717797;
}

.desc {
	text-align: center;
}

.contact-form{
	display: flex;
	padding-top: 150px;
}

.contact-desc{
	width: 519px;
}

.contact-desc p{
	padding-top: 100px;
	font-size: 36px;
	line-height: 1.7;
}

.contact-desc span{
	color: #ffcc73;
}

.arrow{
	width: 89px;
	height: 8px;
	padding-right: 36px;
	background-image: url(img-assets/arrow.png);
	background-repeat: no-repeat;
}

.form{
	width: 519px;
	height: 575px;
	background: #1b212f;
	text-align: center;
	box-shadow: 0 0 40px rgba(0,0,0,0.5); /* Параметры тени */
}



/*Footer style*/

footer{
	background: #191d29;
	height: 420px;
}


.contacts{
	padding-top: 70px;
	color: #ffcc73;
	line-height: 1.5;
}

.contacts li{
	padding-top: 15px;
	list-style-type: none;
}

.copyright{
	height: 130px;
	background: #161922;
	text-align: center;
}

.copyright p{
	padding-top: 50px;
	color: #c0c3d6;
	line-height: 1.7;
}

.copyright a{
	color: #c0c3d6;
}